<!DOCTYPE html>
<html>
<head>
    <title>Registration</title>
</head>
<body>
    <h1>Registration</h1>
    <form method="post" action="{% url 'register' %}">
        {% csrf_token %}
        <label for="username">Username:</label>
        <input type="text" name="username" required><br><br>
        <label for="password">Password:</label>
        <input type="password" name="password" required><br><br>
        <label for="role">Role:</label>
        <select name="role" required>
            <option value="event_planner">Event Planner</option>
            <option value="participant">Participant</option>
        </select><br><br>
        <button type="submit">Register</button>
    </form>
</body>
</html>